/* basic css stuff */
.willis-inline-btn {
		display: inline;
}
a.willis-blk-btn {  // black button, used in under-content fwidget
	background-color: black;
	color: white;
	border: 0px;
  margin: 0 16px;
	letter-spacing: 2px;
	padding: .3em 1em;
}
a.willis-blk-btn:hover {
	background-color: $willis-blue!important;
	border: 0px;
	padding: .3em 1em;
}
a.willis-blk-btn:after {
	content: "";
}

.reach-module-leftalign {
	float: left;
}
