/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
// site colors
$willis-limegreen: #B8FB3C;
$willis-blue:  #1541AC;
$willis-dkgrey: #323232;
$willis-teal: #13CA91;
$willis-ltblue: #5ce5d5;
$willis-orange: #ff9d23;

// special colors
$cf7-success-color: #000;
$cf7-success-background: #57f14e;
$top-cta-bkg: #4e72b0;
$top-cta-font: #faf3e6;
$bottom-cta-bkg: rgba(78,114,176,0.22);
/* ----------- end Colors ----------- */
